.mat-elevation-z8 {
    margin-bottom: 10px;
}
.tbl_bt {
    min-width: 55px;
    padding: 0px;
}
.i_num {
    text-align: right;
    margin:0px;
}
.mat-cell, .mat-footer-cell, .mat-header-cell {
    padding: 5px;
}
.mat-toolbar {
    font-size: 80%; 
}