<mat-toolbar class="toolbar mat-elevation-z8">
  <div class="icon-area" fxLayout="row" fxLayoutGap="5px">
    <button style="border:0;background:none;" (click)="login()">
      <img src="assets/btn_google_signin_dark_normal_web.png" />
    </button>
    <a mat-flat-button target="_blank" href="https://www.tokaido.tokyo/user_data/download/SalonManual/owner/12.pdf"><mat-icon>help</mat-icon>PDFマニュアル</a>
  </div>
</mat-toolbar>
<mat-card>
  <mat-tab-group [(selectedIndex)]="TabIndex" [backgroundColor]="'primary'" >
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">event</mat-icon>
        予約申込・会員情報
      </ng-template>
      <mat-card-content>
        <form [formGroup]="form">
          <app-memb (action)="goForm()" (action2)="insEda()" (action3)="changeEda($event)"></app-memb>
        </form>  
      </mat-card-content>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">history</mat-icon>
        申込履歴
      </ng-template>
      <mat-card-content>
        <app-hist></app-hist>
      </mat-card-content>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">payment</mat-icon>
        月謝支払
      </ng-template>
      <mat-card-content>  
        決済契約後、導入予定
      </mat-card-content>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">people</mat-icon>
          会員登録
      </ng-template>
      <mat-card-content>  
        作成中
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>